
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  overflow: hidden;
}

/* colors: from darkest shade to lightest
blue: 002536, 003c57, 006491, 0082bd, 009ae0, 00afff
purple: 544e8a, 7769b5, 907dd5, a38cee, b49aff
pink: b94f8f, d85ea5, ef6ab5, ff73c2, ff7acd
Orange: d46204, ff6b67, ff726c, ff7670, ff7b74
Yellow: ffa600, ffa600, ffa600, ffa600, ffa600
font-family: 'Space Mono', monospace;
font-family: 'Proza Libre', sans-serif;  
font-family: 'Poppins', sans-serif;
*/

  .nav-link {
    color:white;
    font-size:2.5rem;
    font-family: 'Poppins', sans-serif;
  }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .active > .nav-link {
  color:black;
  text-decoration: underline;
}

.nav-link.side {
  color: white;
}

.nav-link:hover {
  background-color: rgb(192, 52, 1);
  color: black;
}

#project-pills {
  float: left;
  background-color: #373737;
  width:90%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

#v-pills-tab a:hover{
  color:black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: rgb(192, 52, 1);
}


#v-pills-tabContent{
  color:white;
}

#task-pills {
  float: left;
  background-color: #4b4b4b;
  width:10%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

#back-button {
  display:none;
  font-size: 2.5em;
  color: rgb(192, 52, 1);
  border-color: rgb(192, 52, 1);
}

.canvas-background {
  height: -webkit-fill-available;
  background-color:#E7F5FD;
}

.grid-container {
  padding-top: 4em;
  display: grid;
  grid-template-columns: 90rem 35rem;
  grid-template-rows: 35rem 35rem;
  grid-gap: 3rem 7rem;
  justify-content: center;
}

#header-nav{
  margin-bottom: 0px;
  border-radius: 0px;
}

#header-first {
  margin-right: 0px;
}

#header-middle {
  flex-direction: row;
  margin-right: 630px;
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 17px;
  color: white;
}

#link-head:hover{
  color: black;
  background-color: rgb(192, 52, 1);
  transition: 1.5s;
}

#header-last {
  flex-direction: row;
}

#logo{
  display: block;
  width: 85px;
  height: 55px; 
}

#logout-btn{
  background-color: transparent;
  border-color: #9d9d9d;
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #9d9d9d;
  padding: 8px 18px;
  border-radius: 50px;
}

a#logout-btn:hover {
  background-color:white;
  color: black;
}

.home-link{
  margin-left: 10px;
  margin-right: 10px;
}

.notification-link{
  margin-left: 10px;
  margin-right: 10px;
}

.search-link{
  margin-left: 10px;
  margin-right: 10px;
}

#bell{
  font-size: 25px;
}

#search-bar{
  background-color:#9d9d9d;
  border-color: #9d9d9d;
  border-radius: 20px;
}

#search-bar-bar::placeholder{
  color:#333;
}
#search-bar-bar{
  background-color:#9d9d9d;
  border-color: #9d9d9d;
  width: 310px;
}

.grid-item {
  border-radius: 5px;
  background-color: white;
  box-shadow: -2px 2px 10px #888888;
}

.info-bar{
  margin: 1rem 0;
}

.decorative-box {
  width: 0.5rem;
  height: 2rem;
  background-color: #30C2FF;
  color: #30C2FF;
}

