
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link.side {
  color: white;
}

#project-pills {
  float: left;
  background-color: #C4C4C4;
  width:90%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

#task-pills {
  float: left;
  background-color: #A6A5A5;
  width:10%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

.grid-container {
  display: grid;
  grid-gap: 1rem 5rem;
}

#header-nav{
  margin-bottom: 0px;
  border-radius: 0px;
}

#header-first {
  margin-right: 0px;
}

#header-middle {
  flex-direction: row;
  margin-right: 630px;
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 17px;
  color: white;
}

#link-head:hover{
  color: black;
  background-color: white;
  transform: rotate(360deg);
  transition: 1.5s;
}

#header-last {
  flex-direction: row;
}

#logo{
  display: block;
  width: 85px;
  height: 55px; 
}

#logout-btn{
  background-color: transparent;
  border-color: #9d9d9d;
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: #9d9d9d;
  padding: 8px 18px;
  border-radius: 50px;
}

a#logout-btn:hover {
  background-color:white;
  color: black;
}

.home-link{
  margin-left: 10px;
  margin-right: 10px;
}

.notification-link{
  margin-left: 10px;
  margin-right: 10px;
}

.search-link{
  margin-left: 10px;
  margin-right: 10px;
}

#bell{
  font-size: 25px;
}

#search-bar{
  background-color:#9d9d9d;
  border-color: #9d9d9d;
  border-radius: 20px;
}

#search-bar-bar::placeholder{
  color:#333;
}
#search-bar-bar{
  background-color:#9d9d9d;
  border-color: #9d9d9d;
  width: 310px;
}